/* ================= THERMAL PRINT ================= */

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  @page {
    size: 80mm auto;
    margin: 0;
  }
  #print-root {
    display: block !important;
  }
  html,
  body {
    width: 80mm !important;
    max-width: 80mm !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #ffffff !important;
    overflow: visible !important;
    font-family: Arial, sans-serif !important;
  }

  /* Hide everything */

  body * {
    visibility: hidden !important;
  }

  /* Show invoice & KOT only */
  #invoice-print,
  #invoice-print *,
  #kot-print,
  #kot-print * {
    visibility: visible !important;
  }

  /* Main print container */
  #invoice-print,
  #kot-print {
    position: static !important;
    margin: 0 auto !important;

    width: 72mm !important;
    max-width: 72mm !important;
    min-width: 72mm !important;

    margin: 0 !important;
    padding: 2mm !important;

    background: #fff !important;

    box-sizing: border-box !important;

    overflow: visible !important;

    page-break-after: auto !important;
    break-after: auto !important;
  }

  /* Tables */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
    table-layout: auto;
  }

  th,
  td {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    font-size: 10px;
    line-height: 1.2;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  /* Images */
  img {
    max-width: 100% !important;
    display: block !important;
  }

  /* Remove buttons */
  button,
  .no-print {
    display: none !important;
  }

  /* Prevent extra blank pages */
  #invoice-print:last-child,
  #kot-print:last-child {
    page-break-after: avoid !important;
    break-after: avoid !important;
  }

  /* Prevent content cutting */
  tr,
  td,
  th,
  div,
  p {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }
  img,
  svg,
  canvas {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
